<div class="tanwan-wsc">
  <div class="score-bar">
    当前得分：{{score}}
  </div>
  <div class="剩余时间">
    剩余时间：{{next_time}}
  </div>
  <div *ngIf="!started" class="start-game">
    <p>总得分：{{score}}</p>
    <button (click)="startGame()" class="start-button">开始游戏</button>
    <button (click)=" goGitHub()" class="github">GitHub</button>
  </div>
  <ng-container *ngFor="let item of hot_dogs">
    <div class="wsc-hot-dogs" [style.left.px]="item.x" [ngStyle]="{transform: 'translateY('+item.y +'px)'}">
      <img src="/assets/hot-dog.png" width="40px" height="70px">
    </div>
  </ng-container>
  <div class="wsc" [style.left.px]="mouse_position.x">
    <img width="80px" height="80px" src="/assets/wangsicong.png">
  </div>
  <app-point-container></app-point-container>
</div>

